@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    background-color: #272743;
    color: white;
    font-weight: bold;
}

.donate-section {
    background-color: #535472;
    width: 1000px;
    height: 500px;
    border-radius: 10px;
}

.donate-text {
    float: left;
    margin: 50px 100px;
    height: 250px;
}

#cost {
    margin-top: 105px;
    font-size: 1.5rem;
}
.cal {
    margin-top: 20px;
    width: 170px;
    height: 50px;
    color: white;
    background-color: #2165f1;
    border: 1px solid #2165f1;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
}
.donate-select {
    margin-top: 70px;
    height: 500px;
    float: left;
}
.gift-freq {
    width: 450px;
}
.gift-freq span {
    font-size: 0.7rem;
}
.freq {
    background-color: #272743;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
}
.freq button {
    width: 90px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #272743;
    color: white;
}

.select-amount {
    margin-top: 10px;
    line-height: 30px;
    font-size: 0.7rem;
}
.select-amount button {
    width: 60px;
    height: 30px;
    border-radius: 50px;
    background-color: #535472;
    color: white;
    border: 1px solid #272743;
}

.agree {
    margin-top: 20px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    float: left;
}

.agree-text {
    padding: 5px 5px;
    float: left;
}

.write-text {
    width: 350px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #272743;
    background-color: #535472;
}
.write-text:focus {
    outline: none;
    color: white;
}
.write-text::placeholder {
    color: white;
}

.write-name {
    height: 300px;
}

.write-name span {
    font-size: 1em;
}
.donate-but {
    margin-top: 20px;
    width: 170px;
    height: 50px;
    color: white;
    background-color: #2165f1;
    border: 1px solid #2165f1;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #76a4f6;
    font-weight: normal;
}
