* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tags-text {
    font-weight: bold;
    font-size: 1.2rem;
}

.tags input {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #E7E5F2;
    outline: none;
}

.show-tags {
    border: 1px solid black;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #E7E5F2;
}

.ex-text {
    font-size: 0.8rem;
}

.category {
    float: left;
    margin-right: 80px;
    margin-top: 30px;
}

.category span {
    font-weight: bold;
    font-size: 1.2rem;
}

.category select {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #E7E5F2;
    outline: none;
}

.category select:active {
    border: 1px solid #EC4D7D;
}

.category select:hover {
    border: 1px solid #EC4D7D;
}